/*
	Hope you like bitvavo darker to spare your eyes :)
	socials: antmaster2001
*/

.full {
	background-color: #1a1f27;
}

.publicHolder {
	background-color: #1a1f27!important;
}

.nav {
	background-color: #0e111a!important;
}

body {
	color: #dcd8cc!important;
}

.contentBlock, .publicBlock, .successHolder, .loader-private, .loader-public{
	background-color: #0e111a!important;
}

.dark {
	background-color: #181d2c!important;
}

rect {
	fill: #0e111a!important;
}

.subNav {
	background-color: #0e111a!important;
	border: 1px solid #373d47!important;
}

.subNavItem {
	border-bottom: none!important;
}

.logo {
	color: white!important;
}

.red {
	background-color: #ef5350!important;
	color: white!important;
}

.green {
	background: #26a69a!important;
	color: white!important;
}

.affiliate-promo {
	background-color: #26a69a!important;
	color: white!important;
}

tbody>tr:hover {
	background: none!important;
	background-color: #283347!important;
	-webkit-transition: all .1s;
	transition: all .1s;
	border-color: #373d47!important;
}

.top {
	background-color: #262D38!important;
}

.router-link-active {
	background-color: transparent!important;
}

.nav .linkActive, .nav .router-link-active>a:hover {
	color: #3877ff!important
}

.tabs .router-link-active, .tabs li:hover>a {
	background-color: #21262f!important;
}

.trade .toggleTradeActive {
	background-color: #21262f!important;
}

.buttonDisabled {
	background-color: #21262f!important;
}

input {
	background-color: #21262f!important;
	border-color: #373d47!important;
	color: white!important;
}

td, th {
	border-bottom: 2px solid #373d47!important;
}

.msgBlue {
	background-color: #373d47!important;
	color: white!important;
}

.tooltip {
	background-color: #778dbd!important;
}

.advanced_button {
	background-color: #2e65e0;
	color: white;
	border-radius: 8px;
	padding: 1em;
	font-weight: 500;
}

.advanced_button:hover {
	background-color: #4780fa;
	color: white;
}

.advanced_button:visited:hover {
	background-color: #4780fa;
	color: white;
}

.advanced_button:visited {
	color: white;
}

.tgl-ios+.tgl-btn:after {
	background-color: rgb(236, 236, 236)!important;
}

/* All color codes 
body background: #262D38
Green color: #26a69a
Red color: #ef5350
